*.pyc
*~
.*.swp
nohup.out
*.log
*.feat*
*.ch*
*.en*
*.mallet*
*.gizawa*
*.gsuba*
*.gwa*
*.suba*
*.tex
*tmp*
merge_waTex_subaF.py
hacept_train.*
hacept_test.*
*koala*
*.txt
*.dict
*training*
*testing*
